.cta {
	background: no-repeat center center;
	background-size: cover;
	position: relative;
	padding-top: 5rem;
	padding-bottom: 5rem;

	@media (min-width: 768px) {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	@media (min-width: 1024px) {
		padding-top: 12.5rem;
		padding-bottom: 12.5rem;
	}

	&:before {
		background: $blue;
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: .9;
	}

	&__title {
		color: $white;
		margin-top: 0;
		position: relative;
		z-index: 10;

		span {
			color: $blue-light;
		}
	}

	&__btn {
		margin-top: 3rem; 
	}
}