/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
  padding: 1rem 0rem;

  &__item {
  	color: lighten(#305c78, 20%);

  	@media (max-width: 768px) {
  		width: 100%;
  	}

  	a {
  		color: lighten(#305c78, 20%);

  		&:hover {
  			color: $orange;
  			transition: all ease .3s;
  		}
  	}

  	&--title {
  		@media (max-width: 768px) {
  			font-size: 1rem;
  		}
  	}
  }
}
