.form {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100vw;
	z-index: -99999;
	overflow-y: auto;
	// -webkit-overflow-scrolling: touch;
	opacity: 0;
	transition: all ease .3s;

	&--contact {
		padding-top: 3rem;
		padding-bottom: 3rem; 
	}

	&.is-visible {
		opacity: 1;
		z-index: 99999;
		transition: all ease .3s;
	}

	&__container {
		position: relative;

		@media (min-width: 768px) {
			height: 100%;
		}
	}

	&__wrap {
		width: 100%;
		padding: 1rem 0rem;
		text-align: right;
		position: relative;
	}

	&__close {
		color: $white;
		font-size: 1.2rem;
		position: relative;
		transition: all ease .3s;

		&:hover {
			color: $orange;
			cursor: pointer;
		}
	}
}

//gravity forms
.gform {

	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
		width: 100%;
	}

	&_body {
		width: 100% !important;
	}

	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button, &_next_button,
	&_previous_button {
		margin: .5rem 0 !important;
		display: inline-block;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease; 
		outline: none;
		border: none;

		@extend .btn--hollow; 
		@extend .btn; 

		&:hover {

		}
	}

	&_previous_button {
		margin-right: .5rem!important;
	}

	&_page_footer {
		border-top: 1px dotted $orange!important;
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	margin-bottom: 1.5rem;
	padding-right: 0 !important;

	// Labels
	&_label {
		color: $white;
	}

	&_required {
		color: red;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	&_checkbox {
		color: $white;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea {
		display: block;
		padding: .5rem;
		line-height: 1 !important;
		background: $white;
		border: none;
		-webkit-appearance: none;
		border-radius: 4px;
		transition: all 0.3s ease;
		padding: 8px 5px!important;
		text-indent: .25em;

		&:hover, &:focus {
			
		}

		&:focus, &:active, &:visited {
			color: $white;
			outline: none;
		}
	}
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100%!important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}

.gform_confirmation_message {
	text-align: center;
	float: left;
	width: 100%;
}

.gf_progressbar {
	background-color: darken($blue, 3%)!important;
}

.gf_progressbar_percentage {
	background: $blue-light!important;

	span {
		font-weight: 600;
	}
}

.gf_progressbar_title {
	color: $white;
	opacity: 1!important;
	font-size: 1rem!important;
    font-weight: 600!important;
}

//hide ajax spinner
body img.gform_ajax_spinner {
 display: none !important;
}
