/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  padding: 1rem 0rem;
  transition: all ease .3s;

  &.is-sticky {
    background: $blue;
  }
  
  &__logo {
    display: block;
    float: left;
    position: relative;
    z-index: 999999;

    img {
      width: 200px;
      height: 43px;

      @media (min-width: 768px) and (max-width: 1024px) {
        width: 170px;
        height: 37px;
      }

      @media (min-width: 1024px) {
        width: 200px;
        height: 43px;
      }
    }
  }
}

/* Adds dropdown support, gives a good example of nesting
 * with SCSS. The classes are specific to the Scratch
 * Theme for WordPress. If you are not using Scratch, you
 * can simply get rid of them.
 */

nav {
  ul.main-nav {
    list-style: none;
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 80px;
    left: 0;
    margin: 0;
    padding: 0;
    @extend .clearfix;

    li {
      display: block;

      a {  
        color: $white;
        display: block;
        padding: 0.5rem 1rem;
        transition: background-color 0.25s ease-in-out 0s;

        &:link, &:active, &:visited {
          color: $white;
        }

        &:hover, &:focus {
          text-decoration: none;
        }
      }

      &.current_page_item {

        a {
          
          &:link, &:active, &:visited {
          
          }
        }
      }
    }

    ul.sub-menu {
      display: none;
    }
  }
}

@media (min-width: 767px) {
  nav ul.main-nav {
    position: relative;
    width: auto;
    top: 0;
    float: right;
    display: block !important;

    li {
      float: left;

      a {
        padding: .5rem;

        &:link, &:active, &:visited {

        }

        &:hover, &:focus {

        }
      }
    }

    ul.sub-menu {
      padding: 0;
      position: absolute;
      top: 100%;

      li {
        float: none;
        position: relative;
        text-align: left;

        a {
          padding: 0.5rem 1rem;
          color: $white;

          &:link, &:active, &:visited {
            color: $white;
          }

          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }

      ul {
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }

  nav ul.main-nav li:hover > ul.sub-menu {
    display: block;
  }
}

.nav-toggle {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  font-size: 2rem;

  @include m {
    top: 1rem;
  }

  @media (min-width: 767px) {
    display: none;
  }

  color: $white;
  cursor: pointer;

  i {
    vertical-align: middle;
  }

  transition: transform 0.25s ease-in-out 0s;

  &.active {
    transform: rotate(-90deg);
  }
}
