.btn {
	display: inline-block;
	padding: .5rem 1.8rem;
	transition: all ease .3s;
	font-size: 14px;
	font-weight: 600;

	&--hollow {
		border: .1rem solid $orange; 
		border-radius: 25px; 
		color: $white;
		position: relative;
		overflow: hidden;
		background: transparent;

		&:hover {
			background: $orange;
		}
	}

	&--nav {
		display: inline-block!important;

		@media (min-width: 768px) and (max-width: 1024px) {
			font-size: 14px;
			margin-left: 1.5rem;
		}

		@media (max-width: 768px) {
			margin-left: 1rem;
			margin-top: 1rem;
		}

		@media (min-width: 1024px) {
			margin-left: 3rem;
		}

		a {
			padding: 0!important;

			&:after {
				display: none;
			}
		}

		
		&:hover {
			background: $orange;
		}
	}
}

.is-fixed {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;

}