.hero {
	position: relative;
	background: no-repeat center center;
	background-size: cover;
	padding-top: calc(5rem + 85px);
    padding-bottom: 5rem;

	@media (min-width: 768px) {
		padding-top: 8rem;
		padding-bottom: 8rem;
	}

	@media (min-width: 1024px) {
		padding-top: 12.5rem;
		padding-bottom: 12.5rem;
	}

	&--subpage {
		padding-top: calc(4rem + 85px);
    	padding-bottom: 4rem;

		@media (min-width: 768px) {
			padding-top: 7rem;
			padding-bottom: 7rem;
		}

		@media (min-width: 1024px) {
			padding-top: 10.5rem;
			padding-bottom: 10.5rem;
		}
	}

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: $blue;
		opacity: .9;
		top: 0;
		left: 0;
	}


	&__text {
		position: relative;
		z-index: 10;
		color: $white;
		text-align: center;
		font-weight: 500;

		@media (min-width: 768px) {
			font-size: 18px;
		}
	}

	&__title {
		margin-top: 0;
		padding-bottom: 1.5rem;

		@media (max-width: 768px) {
			font-size: 1.5rem;
			line-height: 2rem;
			padding-bottom: 0;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			font-size: 2rem;
		}

		span {
			color: $blue-light;
		}
	}

	&__link {
		margin-top: 0rem;

		@media (min-width: 768px) {
			margin-top: 1.5rem;
		}
	}
}