/********************LAYOUTS********************/

/* Base Styles */

.blue--bg {
	color: $white;

	h1, h2, h3,
	h4, h5, h6 {
		color: $white;
	}

}

.blue-light--bg {
	color: $white;


	h1, h2, h3,
	h4, h5, h6 {
		color: $white;
	}
}

.gray-light--bg {
	color: $blue;

	h1, h2, h3,
	h4, h5, h6 {
		color: $blue;
	}
}



/* WYSIWYGs */
.wysiwygs {
  background-repeat: no-repeat;

  &.left {
    background-position: bottom left;
  }

  &.right {
    background-position: bottom right;
  }


  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  [class^="column-"], [class*=" column-"] {
    // column-specific styles here

  } 
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}

.row {
  @extend .clearfix;
	
	@media (min-width: 768px) {
		margin-left: -15px;
			margin-right: -15px;
	}
}

.padding {

  &--top {
    padding-top: 2.5rem;
  }
  
  &--bottom {
    padding-bottom: 2.5rem;
  }

  &--both {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  @media (min-width: 768px) {

    &--top {
      padding-top: 6.5rem;
    }

    &--bottom {
      padding-bottom: 6.5rem;
    }

    &--both {
      padding-top: 6.5rem;
      padding-bottom: 6.5rem;
    }
  }
}

.margin {

  &--top {
    margin-top: 2.5rem;
  }
  
  &--bottom {
    margin-bottom: 2.5rem;
  }

  &--both {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  @media (min-width: 768px) {

    &--top {
      margin-top: 6.5rem;
    }

    &--bottom {
      margin-bottom: 6.5rem;
    }

    &--both {
      margin-top: 6.5rem;
      margin-bottom: 6.5rem;
    }
  }
}

