/**
 * Navigation
 **/

.nav {

	&__item  {

		a {
			position: relative;
			font-weight: 600;

			@media (min-width: 768px) and (max-width: 1024px) {
				font-size: 14px;
			}


			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				width: 0rem;
				background: $orange;
				height: .1rem;			
				transition: all ease .3s;
				left: 1rem;

				@media (min-width: 768px) {
					left: 50%;
					transform: translateX(-50%);
				}
			}

			&:hover::after {
				width: 2rem;
			} 
		}


		&.is-active {
			a {
				&:after {
					width: 2rem;
				}
			}
		}
	}

	/**
	 * Mobile menu panel
	 **/


	&--mobile {
		
		@media (max-width: 768px) {
			position: fixed;
			z-index: 78888;
			top: 0;
			right: 0;
			height: calc(100% - 0px);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s ease;
			background: $blue;
			overflow-y: auto;
			// -webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			// Set body to fixed		
			body.is-fixed {
				@media (max-width: 768px) {
					overflow: hidden;
					position: fixed;
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@media (min-width: 768px) {
			display: none;
		}

		&__label {
			color: $white;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $white;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $white;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}