/********************SINGLE********************/

/*
 * This file should house all of the styles for any
 * single template, i.e. single.php or
 * single-{rename}.php.
 */

 .single {
 	padding-top: 3rem;
 	padding-bottom: 3rem;

 	@media (min-width: 768px) {
 		padding-top: 6rem;
 		padding-bottom: 6rem;
 	}

 	&__meta {
 		font-size: 12px;
 		margin-bottom: 3rem;

 		span {
 			color: orange;
 		}
 	}
 }