.skills {
	background-repeat: no-repeat;

	&.left {
		background-position: bottom left;
	}

	&.right {
		background-position: bottom right;
	}

	&__item {
		background: $blue-light;
		border-radius: 4px;
		color: $white;
		padding: 1.5rem;
		display: block;

		.fas, .fab {
			background: $white; 
			width: 2.5rem;
			height: 2.5rem;
			transform: rotate(45deg);
			color: $blue-light;
			font-style: normal;
			font-weight: 700;
			display: inline-flex;
	    	align-items: center;
	    	justify-content: center;
	    	box-shadow: 10px 14px 24px rgba($blue, .29); 

	    	&:before {
	    		transform: rotate(-45deg);
	    	}

			span {
				vertical-align: middle;
			}
		} 
		
		@media (max-width: 768px) {
			margin-bottom: 1rem;
		}

		@media (min-width: 768px) {
			width: calc(33.3% - 3rem);
			margin: 1rem 1.5rem;
		}
	}

	&__title {
		font-style: normal;
		font-weight: 700;
		color: $white!important;
		margin-top: 1.5rem;

		&--no-icon {
			margin-top: 0;
		}
	}

	&__cta {
		padding-top: 1rem;

		@media (min-width: 768px) {
			padding-top: 3rem;
		}

		&--title {
			padding-bottom: 1.5rem;
			line-height: 1.5;
		}
	}

	&__btn {
		margin: 1rem;
	}
}
