.steps {

	&__item {
		text-align: center;
		position: relative;

		@media (max-width: 768px) {
			padding-bottom: 1.8rem;
		}
	}

	&__icon {
		background: $blue;
		width: 2.5rem;
		height: 2.5rem;
		transform: rotate(45deg);
		color: $white;
		font-style: normal;
		font-weight: 700;
		display: inline-flex;
    	align-items: center;
    	justify-content: center;
    	box-shadow: 10px 14px 24px rgba($blue, .29);

		span {
			vertical-align: middle;
			transform: rotate(-45deg);
		}
	}

	&__title {
		margin-top: 1.5rem;
		font-style: normal;
		font-weight: 600;
	}
}