.testimonials {
	background-repeat: no-repeat;

	&.left {
		background-position: bottom left;
	}

	&.right {
		background-position: bottom right;
	}

	&__heading {
		margin-top: 0;
		padding-bottom: 1.5rem;
	}

	&__item {
		color: $white;
		padding: 1.5rem 1rem;
		position: relative;
		border-radius: 4px;

		// .fa-quote-right { 
		// 	position: absolute;
		// 	font-size: 7rem;
		// 	color: $gray-light;
		// 	font-family: "Font Awesome 5 Free";
		// 	content: "\f10d";
		// 	z-index: 0;
		// 	right: 3rem;
		// }

		@media (max-width: 768px) {
			&:last-child {
				margin-top: 1.5rem;
			}
		}

		@media (min-width: 768px) {
			width: calc(50% - 3rem);
			margin: 0rem 1.5rem;
			padding: 3rem 0rem;
		}
	}

	&__title, &__quote {
		z-index: 10;
		position: relative;
	}

	&__title {
		color: $white!important;
		font-weight: 600;
		margin-top: 0;
	}

	&__quote {
		font-style: italic;
	}
}