/* Color classes (modify as needed) */

$colors: "white" $white, "gray" $gray, "black" $black, "gray-light" $gray-light, "blue" $blue, "blue-light" $blue-light, "orange" $orange;

@each $color in $colors {
  $label: nth($color, 1);
  $value: nth($color, 2);

  .#{$label} {
    color: $value; 
  }

  .#{$label}--bg {
    background-color: $value;
  }
}


