/********************VARIABLES********************/

$edit-mode: true; // [ true / false ] - Enables/disables the grid toggle button.

// Custom fonts example (modify as needed)
@import url("https://fonts.googleapis.com/css?family=Poppins:400,600,700");

// Theme / Fonts
$theme: custom; 
$custom-font-body: 'Poppins', sans-serif; 
$custom-font-headings: 'Poppins', sans-serif;

// Paragraph indenting
$paragraph-indent: false; // [ true / false ]

// Base sizes
$base-font-size: 95; // In %. Also used for mobile. Number only, no units. Value here equates to 18px.
$base-font-size-desktop: 95; // In %. Used to calculate the desktop font size. Number only, no units. Value here equates to 20px.
$line-height: 1.5; // In REMs. Value here equates to 27px.
$line-height-desktop: 1.625; // In REMs. Value here equates to 32.5px.
$max-width: 35; // Number only, no units. Gets converted to REMs.

// Modular Scale
$modular-scale: (
  xxxl: 4.3,
  xxl: 3.5,
  xl: 3,
  l: 2.5,
  m: 2,
  s: 1.6875,
  xs: 1.4375,
  xxs: 1.2,
  xxxs: 1,
  xxxxs: .8125
);

/* Calculations
   ========================================================================== */

// Mobile base & leading
$base: 16 * ($base-font-size / 100);
$leading-rem: $line-height;

// Desktop base & leading
$base-desktop: 16 * ($base-font-size-desktop / 100);
$leading-rem-desktop: $line-height-desktop;

/* Font themes
   ========================================================================== */

$font-body: null;
$font-headings: null;

@if $theme == Merriweather {

  // Import Merriweather
  @import url(https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);

  // Set body font
  $font-body: Merriweather, Georgia, serif;

} @else if $theme == OpenSans {

  // Import Open Sans
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic);

  // Set body font
  $font-body: Open Sans, Arial, Helvetica, Sans-serif;

} @else if $theme == custom {

  // Set custom body font
  $font-body: $custom-font-body;

  // Set custom headings font
  @if $custom-font-headings != $custom-font-body {
    $font-headings: $custom-font-headings;
  }
}

/********* Custom colors example (modify as needed) *********/

$blue: #032133;
$blue-light: #00a9ea; 

$orange: #ff9933;

$white: white;
$gray: #eeeeee;
$gray-light: #e3e9ed;
$black: black;

// Set font colors
$color-font-body: $black;
$color-font-headings: $color-font-body;
$color-font-light: lighten($black, 20%);
$color-font-figcaption: $color-font-body;
